:root {
    /* Основные цвета */
    --header-backgorund-color: #24272F;
    --background-color: #2A2E35;
    --accent-background-color: #34373F;
    --border-color: #464651;
    --text-color: #eeeeee;

    /* Акцентные цвета */
    --primary-color: #268B63;
    --secondary-color: #871895;

    /* Информирующие цвета*/
    --success-color: #28a745;
    --info-color: #17a2b8;
    --warning-color: #ffc107;
    --error-color: #dc3545;

    /* Радиус границ */
    --border-radius-sm: 0.25em;
    --border-radius-md: 0.5em;
    --border-radius-lg: 1em;

    /* Шрифты */
    --font-family: "Inter", sans-serif;
    --font-weight: 400;

    /* Размеры шрифта */
    --font-size-md: 16px;
    --font-size-lg: 20px;
    --font-size-xl: 24px;
}

body {
    margin: 0;
    padding: 0;
    color: var(--text-color);
    font-family: var(--font-family);
    font-size: var(--font-size-lg);
    font-optical-sizing: auto;
    font-weight: var(--font-weight);
    font-style: normal;
    background-color: var(--header-backgorund-color);
}

#app {
    height: 100vh;
}